/*
 ** SC Variables
 */
$p-pre:                        'sc-';
$sc-font-size-base:             16px;
$font-family-sans-serif:      'SFUIText-Medium', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
// Color
$sc-info-color:                 #1eb7ff;
$sc-success-color:              #27bfa3;
$sc-error-color:                #e94b35;
$sc-text-content:               #6c6766;
$sc-text-active:                #403839;
$sc-text-inactive:              rgba($sc-text-active, 0.5);
$sc-text-placeholder:           #adaaaa;
$sc-action-btn-bg:              #e6e0dd;